body {
  margin: auto;
}

/* FIRST SECTION */
.section1 {
  background: url("backgrounds/h_img.jpg");
  background-size: cover;
}

.image1-content {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 20px;
}

.image-text {
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
}

.image-text-2 {
  color: #fff;
  font-weight: bold;
  margin: 0;
}

.mouse-png {
  padding-top: 70px;
}

/*  SECOND SECTION  */
.section2 {
  padding: 30px 30px;
  text-align: center;
}

.section2-p {
  line-height: 2;
}

/*  THIRD SECTION */
.section3 {
  background-image: url('backgrounds/s_image.jpg');
  background-size: cover;
}

.image-3 {
  text-align: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 80px;
}

.section3-p {
  line-height: 1.5;
}

/*  FOURTH SECTION */
.section4 {
  padding: 40px 20px;
  text-align: center;
  line-height: 2;
}

.section4-heading {
  padding-bottom: 20px;
}

.design-hidden {
  cursor: pointer;
}

.dev-hidden {
  cursor: pointer;
}

.product-hidden {
  cursor: pointer;
}

.design-showing {
  display: none;
}

.dev-showing {
  display: none;
}

.product-showing {
  display: none;
}

/*  FIFTH SECTION */
.section5 {
  padding-bottom: 30px;
}

.portfolio-heading {
  text-align: center;
}

.row {
  padding: 20px;
}

.portfolio-img {
  height: 200px;
  width: 250px;
}

.img1-container {
  position: relative;
  width: 115%;
}

.img1 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .img1 {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.img2-container {
  position: relative;
  width: 115%;
}

.img2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .img2 {
  opacity: 0.3;
}

.container:hover .middle2 {
  opacity: 1;
}

.text2 {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


.img3-container {
  position: relative;
  width: 115%;
}

.img3 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .img3 {
  opacity: 0.3;
}

.container:hover .middle3 {
  opacity: 1;
}

.text3 {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.img4-container {
  position: relative;
  width: 115%;
}

.img4 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle4 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .img4 {
  opacity: 0.3;
}

.container:hover .middle4 {
  opacity: 1;
}

.text4 {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


.img5-container {
  position: relative;
  width: 115%;
}

.img5 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle5 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .img5 {
  opacity: 0.3;
}

.container:hover .middle5 {
  opacity: 1;
}

.text5 {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


.img6-container {
  position: relative;
  width: 115%;
}

.img6 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle6 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .img6 {
  opacity: 0.3;
}

.container:hover .middle6 {
  opacity: 1;
}

.text6 {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.img7-container {
  position: relative;
  width: 115%;
}

.img7 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle7 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .img7 {
  opacity: 0.3;
}

.container:hover .middle7 {
  opacity: 1;
}

.text7 {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


.img8-container {
  position: relative;
  width: 115%;
}

.img8 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle8 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .img8 {
  opacity: 0.3;
}

.container:hover .middle8 {
  opacity: 1;
}

.text8 {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*  SIXTH SECTION */
.section6 {
  background: url('backgrounds/c_image.jpg');
  background-size: cover;
}

.emailT {
  background-color: transparent;
}

.mail-trans{
    background-color: transparent;
}

.section6-heading {
  text-align: center;
  color: #fff;
  padding-top: 40px;
}

form {
  text-align: center;
  padding-bottom: 70px;
}

input[type="email"] {
  width: 300px;
}

input[type="name"] {
  width: 300px;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

textarea {
  width: 70%;
  height: 280px;
}

/*  SEVENTH SECTION */
.socials {
  text-align: center;
  padding: 40px 20px;
}

/*  FOOTER SECTION */
footer {
  text-align: center;
}
